:root {
    --PrimaryColor: hsl(258, 100%, 48%);
    --SecondaryColor: hsl(262, 100%, 33%);
    --gradientColor: linear-gradient(to right, hsl(259, 58%, 50%), hsl(258, 100%, 48%));
    --whiteColor: hsl(199, 100%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --textColor: hsl(261, 100%, 31%);
    --whiteColorDeam: hsl(0, 0%, 90%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(246, 246, 246);
    --cardBG: rgb(225, 225, 235);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(8, 29, 55, 0.9);

    .logo {
        color: var(--blackColor);
    }

    .logo {
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(5px);
        }
    }

    @media screen and (max-width: 768px ) {
        .navBar {
            position: absolute;
            background: var(--whiteColorDeam);
            height: max-content;
            width: 90%;
            border-radius: 1rem;
            top: 6rem;
            left: -350%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(8, 29, 55, 0.9);
            transition: .5s ease-in-out;

            .navLists {
                flex-direction: column;
                /*justify-content: start;*/
                width: 100%;
                margin: auto;
                padding: .5rem 0;

                .navItem {
                    padding: .5rem 0;
                    text-align: start;
                    width: 100%;

                    .navLink {
                        color: var(--textColor);
                        font-size: .9rem;
                        font-weight: 700;

                        &:hover {
                            color: var(--PrimaryColor);
                        }

                        .bi {
                            margin-right: 4%;
                        }

                    }
                }

                .btn {
                    margin-top: 1rem;
                    width: 100%;

                    a {
                        font-weight: 700;
                        color: var(--whiteColor);
                    }
                }
            }

            .closeNavBar {
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);

                &:hover {
                    color: var(--SecondaryColor);
                }
            }
        }

        .activeNavBar {
            left: 50%;
        }
    }

    .toggleNavBar {
        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
        }

        &:hover.icon {
            color: var(--SecondaryColor);
        }
    }
}

@media screen and (min-width: 769px) {
    .toggleNavBar, .closeNavBar {
        display: none;
    }

    .header {
        padding: 1.5rem 2rem;

        .navBar {
            .navLists{
                /*width: 50%;*/
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction:row;

                .navItem{
                    .navLink{
                        color: var(--textColor);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:hover{
                            color: var(--PrimaryColor);
                        }
                    }
                }

                .btn{
                    margin-left: 1rem;
                    a{
                        color: var(--whiteColor);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .header{
        .navbar{
            .navLists{
                .navItem{
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .header{
        padding: 1rem 8.5rem;
    }
}